<!DOCTYPE html>
<div class="navbar navbar-inverse " x-style="margin-top: 1em; margin-bottom: 1em;">

	<div class="container">
		<div class="col-md-4" style="padding: 0 10px 0 0; margin-top: 8px; margin-bottom: 8px;">
			<input type="text" placeholder="Filter" autocomplete="off" autofocus="autofocus" class="form-control" data-ng-model="searchText"/>
		</div>
		<ul class="nav navbar-nav">
			<li uib-dropdown class="dropdown" data-on-toggle="dropdownUserRole">
				<a href="#" class="dropdown-toggle" uib-dropdown-toggle>
					<span class="pull-left" id="userRoleDropDown">Rolle:</span>
					<span class="pull-left" style="max-width: 300px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
						<span style="padding-left: 0.5em;" data-ng-show="isUserRoleFilter('all')">Alle</span>
						<span style="padding-left: 0.5em;" data-ng-repeat="role in userRoles" data-ng-show="isUserRoleFilter(role.key)">{{ role.label }}</span>
					</span>
					<span class="caret"></span>
					<span class="sr-only">Toggle Dropdown</span>
				</a>
				<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="userRoleDropDown">
					<li data-ng-class="{ active: isUserRoleFilter('all') }"><a role="menuitem" tabindex="-1" href="?userRoleFilter=all" data-ng-click="setUserRoleFilter('all'); $event.preventDefault();">Alle</a></li>
					<li class="divider"></li>
					<li data-ng-repeat="role in userRoles" data-ng-class="{ active: isUserRoleFilter(role.key) }"><a role="menuitem" tabindex="-1" xhref="?userRoleFilter={{ role.key }}" data-ng-click="setUserRoleFilter(role.key); $event.preventDefault();">{{ role.label }}</a></li>
				</ul>
			</li>
		</ul>
	</div>

</div>

<div class="container" style="padding-top: 20px; padding-bottom: 70px;">
	<table class="table table-hover">
		<thead>
			<tr>
				<th class="col-md-2">
					<a data-ng-click="order('name')" style="cursor: pointer;">Name</a>
					<span class="glyphicon glyphicon-sort-by-attributes" data-ng-show="isOrder('display_name', false)"></span>
					<span class="glyphicon glyphicon-sort-by-attributes-alt" data-ng-show="isOrder('display_name', true)"></span>
				</th>
				<th class="col-md-2">
					<a data-ng-click="order('username')" style="cursor: pointer;">Benutzername</a>
					<span class="glyphicon glyphicon-sort-by-attributes" data-ng-show="isOrder('username', false)"></span>
					<span class="glyphicon glyphicon-sort-by-attributes-alt" data-ng-show="isOrder('username', true)"></span>
				</th>
				<th class="col-md-2">
					<a data-ng-click="order('global_roles')" style="cursor: pointer;">Rollen</a>
					<span class="glyphicon glyphicon-sort-by-attributes" data-ng-show="isOrder('global_roles', false)"></span>
					<span class="glyphicon glyphicon-sort-by-attributes-alt" data-ng-show="isOrder('global_roles', true)"></span>
				</th>
				<th class="col-md-2">

				</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="user in users | orderBy:orderBy:reverseOrder | filter:searchText | filter:userRoleFilter | filter:statusFilter"
			data-ng-click="user.selected = !!!user.selected"
			data-ng-class="{ info: user.selected, userEditMode: user.editMode }" class="repeated-item user-row">
			<td>
				<div data-ng-hide="user.editMode">
					<span class="username">{{ user.name }}</span>
					<!--<span data-ng-show="{{user._id === userData.identity()._id }}" class="label label-info">Das sind Sie</span>-->
				</div>
				<div data-ng-show="user.editMode">
					<input type="text" ng-keyup="checkKeyboardEvents($event)" data-focus-if="user.editMode" data-ng-model="user.name" placeholder="Name" class="form-control" />
				</div>
			</td>
			<td>
				<div data-ng-hide="user.editMode">
					<span data-ng-show="user.username">{{ user.username }}</span>
				</div>
				<div data-ng-show="user.editMode">
					<input type="text" ng-keyup="checkKeyboardEvents($event)" data-ng-model="user.username" placeholder="Benutzername" class="form-control" />
				</div>
			</td>
			<td>
				<div data-ng-hide="user.editMode">
					<ul class="global-role-list">
						<li data-ng-repeat="role in user.global_roles" class="label label-default global-role" data-ng-class="'global-role-' + role">{{ roleName(role) }}</li>
					</ul>
				</div>
				<div class="edit-user-roles-selection" data-ng-show="user.editMode">
					<md-checkbox data-ng-checked="user.global_roles.indexOf('admin') >= 0" data-ng-click="toggleRole(user, 'admin')" type="checkbox">Admin</md-checkbox>
				</div>
			</td>
			<td>
				<div data-ng-hide="user.editMode" class="user-status">
					<div class="status-controls" data-ng-hide="addingUser || editingUser">
						<button class="edit-user-button glyphicon glyphicon-pencil" data-ng-click="editUser(user)"></button>
					</div>
				</div>
				<div data-ng-show="user.editMode">
					<button class="btn btn-success save-user-button" data-ng-click="saveUser(user)">Speichern</button>
					<button
						mwl-confirm
						title="Löschen"
						data-title="Wirklich löschen?"
						class="btn btn-danger delete-user-button"
						message="Soll der Benutzer <b>{{ user.name }}</b> wirklich entfernt werden?"
						confirm-button-type="danger"
						cancel-button-type="default"
						confirm-text="Ja, löschen"
  					cancel-text="Abbrechen"
						on-confirm="removeUser(user)">Löschen</button>
					<button title="Nein" class="btn glyphicon glyphicon-remove cancel-button" data-ng-click="cancelEditUser(user)" />
				</div>
			</td>
		</tr>
		<tr class="add-user-button" data-ng-hide="addingUser || editingUser">
			<td colspan="4">
				<a href="#" data-ng-click="addingUser = true" class="add-user-anchor">Einen Benutzer hinzufügen...</a>
			</td>
		</tr>
		<tr class="add-user-input" data-ng-show="addingUser">
			<td>
				<input type="text" ng-keyup="checkKeyboardEvents($event)" data-focus-if="addingUser" data-ng-model="newUser.name" placeholder="Name" class="form-control" />
			</td>
			<td>
				<input type="text" ng-keyup="checkKeyboardEvents($event)" data-ng-model="newUser.username" placeholder="Benutzername" class="form-control" />
			</td>
			<td class="add-user-roles-selection">
				<md-checkbox data-ng-checked="newUser.global_roles.indexOf('admin') >= 0" data-ng-click="toggleRole(newUser, 'admin')" type="checkbox">Admin</md-checkbox>
			</td>
			<td class="add-user-controls">
				<button class="btn btn-success add-user-button" data-ng-click="addUser()">Hinzufügen</button>
				<button title="Abbrechen" class="btn glyphicon glyphicon-remove cancel-button" data-ng-click="cancelAddingUser()" />
			</td>
		</tr>
	</tbody>
</table>
<section>
	<a class="keyboard-commands-button" data-ng-click="toggleHelp()" href="#">Show keyboard commands</a>
</section>
</div>
